
### The Knowledge House
# Innovation Fellowship: Data Science - Phase 1 Week 2
## 10/02 - Intro to Programming

Material inspired by Jose Portilla's courses.

**This notebook is just a code reference for lecture, minimal written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Booleans
    * Lists
    * Dictionaries
    * Tuples 
    * Sets
* range()
* list comprehension
* Comparison Operators
* lambda expressions
* map and filter
* methods
____

## Data types

### Variable Assignment

In [ ]:
# Can not start with number or special characters
name_of_var = 2

In [ ]:
x = 2
y = 3

In [ ]:
z = x + y

In [ ]:
z

## Strings
There are many ways of writing strings in our code. We want to make sure we are able to manipulate and use strings as we desire. This is a super important skill to have!

In [ ]:
'single quotes'

In [ ]:
"double quotes"

In [ ]:
" wrap lot's of other quotes"

In [ ]:
# string indexing
# we start counting at index-0 
our_string = "what a wonderful world"

our_string[0]

In [ ]:
#get the last letter by going to the negatives
our_string[-1]

In [ ]:
#get a range of letters
our_string[0:5]

In [ ]:
#skip letters
our_string[0:20:2]

In [ ]:
#print everythig but skip letters
our_string[::4]

In [ ]:
# adding to a string
new_string = our_string + " I love it!"
new_string

In [ ]:
# manually reversing a string
# reverse index
our_string[::-1]

In [ ]:
# str.replace() lets you replace parts of the string
replaced_string = our_string.replace('w','u')
replaced_string

In [ ]:
replaced_string = our_string.replace('what','where')
replaced_string

In [ ]:
# .format lets us put variables in the string at the end (mostly for Python2)
name = "Tim"
work = "TKH"
job = "instructor"

"My friend {name} is a {job} at {work}".format(name=name, job=job, work=work)

In [ ]:
"My friend {0} is a {1} at {2}".format(name, job, work)

In [ ]:
# f-string
f"My friend {name} is a {job} at {work}."

## String methods

In [ ]:
st = 'hello, my name is Tim'

In [ ]:
# Makes everything lowercase
st.lower()

In [ ]:
# Makes everything uppercase
st.upper()

In [ ]:
#breaks up each word into a list, based on the split criteria, default is space
st.split()

In [ ]:
#you lose what you use to split on!

st.split('m')

In [ ]:
# most commonly you're either using space or comma
st.split(',')

In [ ]:
tweet = 'Go Sports! #Sports'

In [ ]:
tweet.split('#')

In [ ]:
tweet.split('#')[1]

### Numbers

In [ ]:
1 + 1

In [ ]:
1 * 3

In [ ]:
1 / 2

In [ ]:
# exponents
2 ** 4

In [ ]:
# modulo gives remainder!
4 % 2

In [ ]:
5 % 2

In [ ]:
(2 + 3) * (5 + 5)

### Booleans

In [ ]:
True

In [ ]:
False

## Comparison Operators

In [ ]:
# greater than
1 > 2

In [ ]:
# less than
1 < 2

In [ ]:
# greater or equal to
1 >= 1

In [ ]:
# lesser or equal to
1 <= 4

In [ ]:
# equal to
1 == 1

In [ ]:
# string equality
'hi' == 'bye'

### Printing

In [ ]:
x = 'hello'

In [ ]:
x

In [ ]:
print(x)

In [ ]:
num = 12
name = 'Sam'

In [ ]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

In [ ]:
print('My number is: {}, and my name is: {}'.format(num,name))

### Lists

In [ ]:
[1,2,3]

In [ ]:
# we can nest lists inside of lists
['hi',1,[1,2]]

In [ ]:
my_list = ['a','b','c']

In [ ]:
# adding to our list
my_list.append('d')
my_list

In [ ]:
# we can index just like we index a string
my_list[0]

In [ ]:
my_list[1]

In [ ]:
my_list[1:]

In [ ]:
# indexing is non-inclusive, it's up to but not including the last number
my_list[:1]

In [ ]:
# we can reassign values in the list
my_list[0] = 'NEW'
my_list

In [ ]:
nest = [1,2,3,[4,5,['target']]]

In [ ]:
# indexing a nested list
nest[3]

In [ ]:
# indexing a nested list
# to index the next part of the list this is returning a list with a single item
nest[3][2]

In [ ]:
# indexing a nested list
# to index the next part of the list this is returning a list with a single item
# we are indexing the list within the list
nest[3][2][0]

In [ ]:
lst = [1,2,3]

In [ ]:
# pop() shows and removes the item from the list
lst.pop()

In [ ]:
lst

In [ ]:
# checking if an item is in the list
'x' in [1,2,3]

In [ ]:
'x' in ['x','y','z']

## list comprehension

we can use list comprehension as a shortcut for building simple lists more quickly

In [ ]:
x = [1,2,3,4]

In [ ]:
out = []
for item in x:
    out.append(item**2)
print(out)

In [ ]:
[item**2 for item in x]

In [ ]:
for index, num in enumerate(x):
    print(f"The number at index# {index} is {num}")

## range()

we use range to build an iterator that we can progress through and use as a counter

In [ ]:
range(5)

In [ ]:
for i in range(5):
    print(i)

In [ ]:
list(range(5))

## lambda expressions

are simple functions we can use in line of our code
we will dig deeper into functions and how they can be used but think of them similarly to list comprehensions in that they're just another way of doing the same thing

In [ ]:
def times2(var):
    return var*2

In [ ]:
times2(2)

In [ ]:
lambda var: var*2

### Dictionaries

In [ ]:
# we always build dictionaries in 'key':'value' pairs
d = {'key1':'item1','key2':'item2'}

In [ ]:
d

In [ ]:
# we can access items through their keys (which act as indices)
d['key1']

In [ ]:
d.values()

In [ ]:
d.keys()

In [ ]:
d.items()

In [ ]:
# iterate through keys
for key in d.keys():
    print(key)

In [ ]:
# iterate through val
for val in d.values():
    print(val)

In [ ]:
# iterate throug both (dict.items())
for key, value in d.items():
    print(f"The value at the {key} is {value}.")

### Sets

In [ ]:
# we use curly brackets to make sets and it will return only the unique values
{1,2,3}

In [ ]:
# we use curly brackets to make sets and it will return only the unique values
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

### Tuples

In [ ]:
# we use parantheses on their own to make tuples
t = (1,2,3)

In [ ]:
t[0]

In [ ]:
# tuple values are IMMUTABLE meaning they cannot be changed once created
t[0] = 'NEW'

In [ ]:
# Tuple/Variable Unpacking
new_tuple = (1, 2, 3, 4)
a, b, c, d = new_tuple

print(a, b, c, d)

In [ ]:
# We can also build a tuple to bring list items together by using zip()
# Then we can iterate through each as a combined list
list1 = ["Captain", "Lucky","Frosted"]
list2 = ["Crunch", "Charms","Flakes"]

for item1, item2 in zip(list1,list2):
    item3 = item1 + " "+ item2 # What is an easier way to write this string?
    print(item3)

# Great Job!