## Data Analysis Lab I

For this lab, you will continue work on your 4th TLAB. The dataset for this lab is in the `../data/shopping.csv` file. 

The goals for this process include:

* Generate new groups & bins to explore relationships
* Generate pivot tables for further analysis 
* Answer a few business-related questions

After you've completed this process, answer the questions underneath `Data Analysis Lab II` in your own words.

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# TODO: load `../data/shopping.csv` as a pandas dataframe

...

In [56]:
# TODO: Observe the head just to reorient ourselves with the dataframe. Take note of the columns and their types

...

,Customer ID,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases,purchase group
0,3475,NaN,Male,Jacket,30.904467,Maine,M,Burnt orange,Fall,4.0,Standard,No,0,Credit Card,NaN,Low
1,3698,21.0,Female,Backpack,31.588259,NaN,L,Turquoise,Winter,2.0,Express,No,1,Credit Card,Monthly,Low
2,2756,31.0,Male,Leggings,24.231704,Nevada,M,Terra cotta,Winter,4.0,Standard,No,0,Credit Card,NaN,Low
3,3340,NaN,Male,Pajamas,33.918834,Nebraska,M,Black,Winter,NaN,Standard,No,2,Credit Card,Bi-Weekly,Low
4,3391,38.0,Male,Sunglasses,36.545487,Oregon,S,Aubergine,Summer,NaN,Standard,No,0,Credit Card,NaN,Low

## Groups

In [10]:
# TODO: Group your dataframe according to the "Payment Method" column. Save this grouped dataframe into a new variable
# called 'g_pay' 
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

g_pay = ...

In [14]:
# TODO: Using the "agg" function calculate the mean and median of the "Purchase Amount (USD)" column in the `g_pay` object

...

                     mean     median
Payment Method
Bank Transfer   42.724584  36.591483
Cash            37.174985  34.569802
Credit Card     38.607690  36.940467
Debit Card      38.826152  37.005280
PayPal          38.748823  36.708289
Venmo           38.595344  37.102529

In [13]:
# TODO: Using the "agg" function calculate the mean and median of the "Age" column in the `g_pay` object

...

                     mean  median
Payment Method
Bank Transfer   65.090909    64.0
Cash            65.300000    64.0
Credit Card     33.774270    33.0
Debit Card      33.595506    32.0
PayPal          35.355433    34.0
Venmo           34.505747    33.0

In [15]:
# TODO: Using the "agg" function calculate the mean and median of the "Review Rating" column in the `g_pay` object

...

                    mean  median
Payment Method
Bank Transfer   4.000000     4.0
Cash            3.333333     4.0
Credit Card     3.874763     4.0
Debit Card      3.960334     4.0
PayPal          3.886792     4.0
Venmo           3.879808     4.0

In [17]:
# TODO: Group your dataframe according to the "Season" column. Save this grouped dataframe into a new variable
# called 'g_season' 

g_season = ...

In [24]:
# TODO: Using the "agg" function calculate the mean and median of the "Purchase Amount (USD)" column in the `g_season` object

...

             mean     median
Season
Fall    38.830085  36.770411
Spring  39.293314  37.866915
Summer  38.690885  36.843348
Winter  38.366148  36.691090

In [25]:
# TODO: Using the "agg" function calculate the mean and median of the "Age" column in the `g_season` object

...

             mean  median
Season
Fall    34.302083    32.0
Spring  33.772901    32.0
Summer  34.495887    34.0
Winter  34.262128    33.0

In [26]:
# TODO: Using the "agg" function calculate the mean and median of the "Review Rating" column in the `g_season` object

...

            mean  median
Season
Fall    3.813953     4.0
Spring  3.892683     4.0
Summer  4.005882     4.0
Winter  3.911824     4.0

## Pivot Tables

In [7]:
# TODO: Create a pivot table where "Payment Method" is your column, "Shipping Type" is your index, and "Age" is your value
# use the "mean" function as the "aggfunc" parameter.
# Save this pivot table to a new variable named `tab_pay`
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html#

tab_pay = ...

In [8]:
# TODO: output this table for display. Notice the difference in average ages.

tab_pay

Payment Method,Bank Transfer,Cash,Credit Card,Debit Card,PayPal,Venmo
Shipping Type,,,,,,
2-Day Shipping,64.750000,63.000000,33.762274,33.925000,34.655629,33.879195
Express,NaN,NaN,32.436170,32.957746,35.918919,32.833333
Next Day Air,NaN,69.000000,34.612500,33.431818,38.489362,33.205128
Standard,65.285714,65.428571,33.864023,33.525903,35.152597,35.290210
Store Pickup,NaN,NaN,NaN,19.000000,NaN,NaN

In [46]:
# TODO: Create a pivot table where you analyze the count of purchases for each combination of "Color" and "Season"
# use the "count" function as the "aggfunc" parameter.
# Save this pivot table to a new variable named `tab_season`
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html#

tab_season = ...

In [47]:
# TODO: Output this table for observation. Notice how counts of colors change throughout the season

tab_season

Color,Aubergine,Baby blue,Black,Brick red,Brown,Burnt orange,Fuchsia,Lavender,Lemon yellow,Mauve,Muted mustard yellow,Pale peach,Periwinkle,Ruby Red,Terra cotta,Turquoise,White
Season,,,,,,,,,,,,,,,,,
Fall,101,17,103,103,117,110,5,19,11,102,103,13,9,112,108,10,13
Spring,4,83,5,7,5,4,59,63,62,6,10,68,63,4,5,60,73
Summer,14,99,12,14,5,10,103,120,112,12,15,104,105,10,15,96,96
Winter,144,24,155,140,120,138,21,13,18,120,110,15,9,132,131,19,12

In [48]:
# TODO: Using the "idmax" method, get the index with the maximum value for each Season column on the pivot table `tab_season`
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html

...

Color
Aubergine               Winter
Baby blue               Summer
Black                   Winter
Brick red               Winter
Brown                   Winter
Burnt orange            Winter
Fuchsia                 Summer
Lavender                Summer
Lemon yellow            Summer
Mauve                   Winter
Muted mustard yellow    Winter
Pale peach              Summer
Periwinkle              Summer
Ruby Red                Winter
Terra cotta             Winter
Turquoise               Summer
White                   Summer
dtype: object

## Bins

In [49]:
# TODO: Create a new column called "purchase group" in your original dataframe which equally seperates your dataframe into 
# two groups of shoppers based on their "Purchase Amount (USD)" column using the "pd.qcut" method. 
# Ensure that you are only creating 2 "bins" and label these respective bins as ["Low", "High"]
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.qcut.html

df["purchase group"] = ...

df["purchase group"]

0        Low
1        Low
2        Low
3        Low
4        Low
        ...
3895    High
3896    High
3897    High
3898    High
3899    High
Name: purchase group, Length: 3900, dtype: category
Categories (2, object): ['Low' < 'High']

In [52]:
# TODO: Group your dataframe according to this new "purchase group" column. Save this grouped dataframe into a new variable
# called 'g_purchase' 

...

C:\Users\saidmf\AppData\Local\Temp\ipykernel_28460\1960299010.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  g_purchase = df.groupby("purchase group")

In [54]:
# TODO: Using the "agg" function calculate the mean and median of the "Review Rating" column in the `g_purchase` object

...

                    mean  median
purchase group
Low             3.850856     4.0
High            3.977162     4.0

In [55]:
# TODO: Using the "agg" function calculate the mean and median of the "Previous Purchases" column in the `g_purchase` object

...

                    mean  median
purchase group
Low             5.923706     4.0
High            5.734982     4.0

## Hypothesis Testing 

Your manager has a hunch that people who have paid by credit card tend to spend more than people who have purchased by debit card. Let's test the statistical assumptions of this hypothesis.

What is the null hypothesis of this experiment? **Rememeber**: we are discussing the differences between average amounts spent between two groups.

Answer here

What is the alternative hypothesis of this experiment? **Rememeber**: we are discussing the differences between average amounts spent between two groups.

Answer here

In [58]:
# TODO: Create two new dataframes for only credit-card purchases and debit-card purchases, and save each respective dataframe into variables named `credit` and `debit` respectively. 
# Use boolean indexing to accomplish this. Recall that these values lie in the "Payment Method" column

credit = ...
debit = ...

In [59]:
# TODO: Calculate the p-value of the t-score between the "Purchase Amount (USD)" column of both these dataframes
# Documentation: https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html

from scipy import stats 

stats.ttest_ind(credit["Purchase Amount (USD)"], debit["Purchase Amount (USD)"])

TtestResult(statistic=-0.4943296707098346, pvalue=0.6211136191569001, df=2698.0)

## Data Analysis Lab II

In the next section, answer a few questions regarding your dataset using the output you've generated.

## Q1

Based on the p-value that we've calculated, what can we state about the null hypothesis referring to the difference of average dollars spent between credit card and debit card holders.

Answer here

## Q2

What is the average age of a user who pays with cash? What is the average age of someone who pays with credit card? Is there a difference between these two users?

Answer here

## Q3

What is the average age of a user who buys clothes in the spring? What is the average age of a user who buys clothes in the winter Is there a difference between these two users?

Answer here

## Q4

What is the most popular season for the color "Lemon yellow"?

Answer here

## Q5

What is the average review rating of a "low" purchase group user and the "high" purchase group?

Answer here